
.nav-link{
color : white !important;
}

.nav-link:hover{
color : yellow !important;
background-color : green;
border-radius:15px;
}

.navbar-brand{
font-weight : bold
}

.nav-item .active{background-color : orange;
border-radius : 30px

}
.page-title{
color :Ass;
font-size :2em;
padding : .5em  1em;
box-shadow : 0px 2px 2px #b0b0b0;
width : 40%;
margin : 0 auto;
text-transform : uppercase
}
/* about start*/
.section-subtitle{
margin-bottom:7px;
padding-left:7px;
text-transform:uppercase;
color:#aaaaaa;
font-size:50px;
font-family: Ariel;
border-left: 3px solid;
line-height:.9;
}
.section-main-title{
margin-bottom:35px;
font-size:30px;
}
.about-item{
color:black;
font-family: times new roman;
}
.about-box{
box-shadow: 0 0 0 10px #000000 inset;
margin-right:0;
margin-top:0;
position:relative;
display:block;
}
.about-box img{
border-top: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
border-bottom: 1px solid;
width:100%;
transform:translateY(30px) translate(-30px);
}

#contact{
background:url("/static/images/contact.jpeg")
}


/* about end*/